.room {
  display: flex;
  justify-content: space-evenly;
}

/* .leftRoom {
  display: flex;
}

.rightRoom {
  display: flex;
} */

.background {
  background-image: linear-gradient(
    to left top,
    #d10f67,
    #f6464c,
    #ff7e29,
    #ffb500,
    #e4eb12 /* 'height' = '100%',
    'width' = '100%' */
  );
  height: 100vh;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
