.room {
  display: flex;
  justify-content: space-evenly;
}

Loading {
  background-image: linear-gradient(
    to left top,
    #d10f67,
    #f6464c,
    #ff7e29,
    #ffb500,
    #e4eb12
  );
  height: 100vh;
}
.landing-text {
  /* background-color: #1b1c1d; */
  text-align: center;
  padding: 52px 52px 52px 52px;
  color: black !important;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 46px;
  padding-bottom: 15 px;
  /* font-style: italic */
}

.leftRoom {
  display: flex;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.ui.icon.button.queueDelete:hover {
  background-color: red;
}

.coverflow__stage__15AAc {
  width: 100% !important;
  height: 600px !important;
}

.ui.input {
  width: -webkit-fill-available;
}

.ui.labeled.button:not([class*='left labeled']):not([class*='right labeled'])
  > .button {
  background-color: #d54363 !important;
}

* {
  color: rgba(255, 255, 255, 0.9);
}
.title {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Knewave', cursive !important;
  font-size: 20px;
}

.ui.card .avatar img,
.ui.card img.avatar,
.ui.cards > .card .avatar img,
.ui.cards > .card img.avatar {
  background: white;
}

.ui[class*='right labeled'].icon.button {
  padding-right: 1em !important;
  padding-left: 1em !important;
}

.ui.header {
  color: white !important;
  text-shadow: 2px 2px 5px black;
  font-family: 'Knewave', cursive !important;
}

.nobackground {
  background-image: linear-gradient(
    to left top,
    #d10f67,
    #f6464c,
    #ff7e29,
    #ffb500,
    #e4eb12
  );
  height: 100vh;
}

.background {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#d10f67),
      to(#e4eb12)
    )
    fixed;
  height: 3000vh;
}

.ui.yellow.label {
  background-color: #df4459 !important ;
}

.ui[class*='right labeled'].icon.button {
  padding-right: 3em !important;
  padding-left: 0.5em !important;
  margin-left: 140px;
}

.ui[class*='right labeled'].icon.button > .icon {
  background-color: #df4459 !important ;
}

body {
  font-family: sans-serif;
}

.ui.center.aligned.header,
.ui.centered.header {
  margin-bottom: 20px;
}

.ui.card > .content > .header:not(.ui),
.ui.cards > .card > .content > .header:not(.ui) {
  color: rgba(255, 255, 255, 0.9);
  background: #1b1c1d;
}

.ui.card,
.ui.cards > .card {
  background: #1b1c1d !important;
}

.ui.card > .content,
.ui.cards > .card > .content {
  background-color: #1b1c1d !important;
  background: #1b1c1d;
  color: rgba(255, 255, 255, 0.9);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.ui.feed > .event > .content .date {
  color: rgba(255, 255, 255, 0.9) !important;
}

.ui.card > .image,
.ui.cards > .card > .image {
  background: white !important;
  width: 100%;
  height: 70%;
}

i.icon.minus.circle:before {
  color: red !important;
}

.ui.inverted.segment .inverted.segment {
  width: 100%;
}

/* *,
:after,
:before {
  color: black;
} */

.ui.card > .content > .header + .description,
.ui.card > .content > .meta + .description,
.ui.cards > .card > .content > .header + .description,
.ui.cards > .card > .content > .meta + .description {
  color: rgba(255, 255, 255, 0.9) !important;
}

.ui.inverted.segment,
.ui.primary.inverted.segment {
  width: 50%;
}

.ui.feed > .event > .content .summary {
  color: darkgrey !important;
}

i.icon.edit.outline:before {
  color: white;
}

i.icon.heart.outline:before {
  color: white;
}
i.icon.headphones:before {
  color: white;
}

.ui.list .list > .item,
.ui.list > .item,
ol.ui.list li,
ul.ui.list li {
  color: white;
}

.ui.center.aligned.header,
.ui.centered.header {
  color: white;
}

.pageContainer {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

/* Style the search field */
form.example input[type='text'] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 85%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example i {
  float: left;
  width: 15%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: '';
  clear: both;
  display: table;
}

div.ui.list.playerInfo {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.playerNPInfo {
  font-weight: bold;
}

.ui.buttons.PlayerButtons {
  margin-left: 5px;
  margin-right: 5px;
}

.ui.message .list:not(.ui) li:last-child {
  color: black;
}
